<a href="https://github.com/CrixoDev" target="_blank">
  <i class="fa-solid fa-laptop-code"></i> CrixoDev
</a>
<div class="jumbotron text-center mt-4 box">
  <h2>Welcome to the Simple Dice Game!</h2>
  <p >Click the "Roll Dice" button to roll two dice. If both dice show the same number, you win!</p>

  <button class="btn btn-success btn-lg" (click)="rollDice()">
    Roll Dice
  </button> 
  
  <br />
  <br />
  <img class="img" [src]="dice1" [class]="animateClass" />
  <img class="img" [src]="dice2" [class]="animateClass" />
  <br />
  <h1 *ngIf="showWinMessage">
    <span class="badge bg-success">You Won!</span>
  </h1>
</div>
